.footer {
  //@include container;
  text-align: center;
  font-size: rem(15px);
  background: $c-theme;
  margin-top: 20px;
  margin-bottom: -20px;
  padding-bottom: 40px;
  color: $c-complement;

  &__partnership {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  &__item {
    margin: 10px auto;
    display: inline-block;

    @include breakpoint($b-desk) {
      margin: 20px;
    }
  }

  &__logo {
    display: inline-block;
    vertical-align: middle;
    height: 25px;

    @include breakpoint($b-desk) {
      height: 35px;
    }
  }

  .icon-logo-vp {
    font-size: 70px;
    margin-left: 0;

    @media screen and (min-width: 640px) {
      margin-right: 3vw;
    }

    @media screen and (min-width: 1025px) {
      margin-right: 0;
    }
  }

  .icon-brand {
    font-size: 60px;
    position: relative;
    top: 0;
    left: -8vw;
    margin-left: 4vw;

    @media screen and (min-width: 321px) {
      left: -2vw;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 2vw;
    }
  }

  &__mentions {
    margin-top: 20px;
    @include breakpoint($b-desk) {
      margin-top: 0;
    }
  }

  &__presents {
    font-size: 10px;
    position: relative;
    top: -25px;
    margin-left: 5vw;

    @media screen and (min-width: 640px) {
      margin-left: 0;
    }
  }

  &__presents,
  .icon,
  .mention {
    opacity: 0.6;
  }

  .mention {
    font-size: 12px;

    &__project {
      text-transform: uppercase;
    }
  }
}
