.header-dev {
    padding-bottom: 40px;
    transition: all ease 1s;

    &--closed {
        padding-bottom: 0;

        .header-dev__content {
            top: -100%;
        }
    }

    &__content {
        position: fixed;
        z-index: z('sup');
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: #fff;
        border-bottom: 3px solid #ff00bf;
    }

    &__close {
        text-transform: lowercase;
        font-size: rem(12px);
        font-weight: bold;
        cursor: pointer;
    }
}

.app-popin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    &--closed {
        display: none;
    }

    &__content {
        background-color: #f2f2f2;
        padding: 50px 20px;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }

    &__txt {
        margin-bottom: 20px;
    }

    &__btn {
        border: 0;
        color: #f2f2f2;
        cursor: pointer;
        font-family: $t-text;

        &--ok {
            background-color: $c-vp;
        }

        &--cancel {
            background-color: #BDBDBD;
        }
    }
}