.header {
  text-align: center;
  background-color: rgba(0, 0, 0, .4);
  position: relative;

  height: vw(560px); // iPhone 5/5S compatible fallback
  height: calc(var(--vh, 1vh) * 100); // Real 100% height

  @include breakpoint($b-tab-desk) {
      height: 100vh;
  }

  &__back-to-vp {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 4;

    @include breakpoint($b-desk) {
      display: block;
    }
  }

  &__container {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
  }

  &__hero {
    height: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    &__title, &__sub {
      text-shadow: 5px 5px 5px $c-vp;
    }

    &__title {
      .icon-logo-vp {
        font-size: 10rem;
        @include breakpoint($b-tab-desk) {
          font-size: 20vw;
        }
      }
    }
    &__sub {
      span {
        display: block;
        font-weight: normal;
        &:nth-child(2) {
          text-transform: uppercase;
          font-size: 1.8rem;
          font-weight: bold;
          @include breakpoint($b-tab-desk) {
            font-size: 2.5vw;
          }
        }
      }
    }
    &__cta {
      padding: 2rem 0;
    }
    &__comment {
      // A RETIRER AU DEV
      //padding-bottom: 1rem;

      .txt {
        display: block;
        margin-bottom: 3rem;
      }

      .arrow {
        display: block;
        width: 100%;
        height: 100%;
        margin-bottom: 1rem;
        .icon-arrow-basic {
          display: block;
          transform: rotate(90deg);
        }
      }
      //////////////////
    }
  }

}