$widthLoader: 50px;
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}


.loader {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: z('top');
  text-align: center;
  color: white;

  &__logo {
  }

  &__title {
    font-size: 14px;
  }

  &__parag {
    font-family: $t-text;
    font-size: 14px;
  }


  &__spin {
    position: relative;
    margin: 0 auto;
    width: $widthLoader;
    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }

  &__circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  &__path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke: white;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
  }
}