.marketing {

    &__wrapper {
        @include clearfix;
        padding: 10px;
        background-color: rgba(red($c-theme), green($c-theme), blue($c-theme), 0.95);
        text-align: center;
        color: $c-complement;

        &.fixed {
            position: fixed;
            bottom: 0;
            z-index: 11;
            width: 100%;
        }

        &.in-header {
            position: static !important;
        }
    }

    &__inner {
        max-width: 640px;
        margin: auto;
        position: relative;
    }

    &__txt {

        @include breakpoint($b-tab-desk) {
            float: left;
        }

        &--1 {
            font-family: $t-text;
            font-size: 14px;
            font-style: italic;
        }

        &--2 {
            font-size: rem(32px);
            text-transform: uppercase;

            @include breakpoint($b-tab-desk) {
                letter-spacing: 1px;
            }
        }

        &--3 {
            clear: both;
            font-size: rem(12px);
            margin-bottom: 10px;

            @include breakpoint($b-tab-desk) {
                font-size: rem(13px);
                padding-top: 10px;
                margin-bottom: 5px;
            }
        }
    }

    &__cta {
        width: 100%;
        color: $c-theme;
        background-color: $c-complement;
        font-size: rem(20px);

        @include breakpoint($b-tab-desk) {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 240px;
        }
    }
}
