.scrollInfo {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 5px;
    background: red;
    z-index: z('top');

    &__percent {
        height: 5px;
        width: 0;
        background: blue;
    }
}