/*SPECIFIC STYLE*/

html,body{
  /*******NE PAS RETIRER********/
  max-width: 100vw;
  /*****************************/

  background: #f2f2f2;
  font-family: $t-text;
}

body {
  
}

.bande {
  background-color: rgb(0, 255, 179);
  height: 20vw;;
  margin-bottom: 2vw;
  font-size: 1vw;
}

.container {
  @extend  %container;
}

.product {
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  @include breakpoint($b-desk){
    flex-direction: row;
  }

  &__item {
    position: relative;
    overflow: hidden;
    width: 100%;
    text-align: center;
    background-color: purple;

    @include breakpoint($b-desk){
      width: 30%;
    }

    &--1 {
      @include bordered(red, purple, yellow, orange);
    }

    &--2 {
      @include bordered(maroon, black, white, purple);
    }

    &--3 {
      @include bordered(grey, orange, pink, blue);
    }

    @for $i from 1 through 3 {
      &--#{$i} {
        background-color: darken(pink, $i*6 );
      }
    }
  }

  &__txt {
    text-align: left;
    margin-bottom: 20px;
  }


}


.waypoint {
  background: #f00;
  color: #fff;
  padding: 30px 20px;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: transform3d(0,0,0) translateY(-50%);
  box-shadow: 0 0 20px #999;
  margin-left: -20%;
  transition: margin 1s;

  &.anim {
    margin-left: 0;
  }
}

.backgroundModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  //padding: 50px;
  z-index: -100;
  opacity: 0;
  transition: all 0.3s;
  text-align: center;

}

.modal {
  
  max-width: 90%;
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */

  @include breakpoint($b-desk) {
    min-width: 40%;
  }
}