$c-theme: #161616;
$c-theme2: gold;
$c-dark: #28170d;
$c-complement: #fff;
$c-texte: #000;
$c-gold: #bba36b;
$c-vp: #ec008c;
$c-input: #f2f2f2;
$c-submit: #000;
$c-error: #ef7178;

$c-facebook: #3b5998;
$c-twitter: #75bcf2;

